common-job-attribues: &common-job-attributes
  docker:
    - image: circleci/golang:1.17

install-aws-cli: &install-aws-cli
  run:
    name: Install AWS CLI
    command: |
      sudo apt-get install -y python3-pip
      sudo pip3 install --upgrade awscli

version: 2.1
jobs:
  master:
    <<: *common-job-attributes
    steps:
      - checkout
      - <<: *install-aws-cli
      - run:
          name: Build and upload master
          command: |
            make env
            source .env
            make master
  release:
    <<: *common-job-attributes
    steps:
      - checkout
      - <<: *install-aws-cli
      - run:
          name: Build and upload tagged release
          command: |
            make env
            source .env
            make release
workflows:
  build-and-upload-master:
    jobs:
      - master:
          filters:
            branches:
              only:
                - master
  release-new-version:
    jobs:
      - release:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
